<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/sample.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <meta charset="UTF-8">
    <title>Main-page</title>
</head>
<body>

    <div class="container">
        <div class="video">
            <video src="{% static 'videos/b3.mp4' %}" muted autoplay loop width="100%" height="100%"></video>
        </div>
        <div class="login-container">
          <div class="triangle"></div>
          <div class="triangle1"></div>
              <h1>Log-In</h1>
          <div class="u-p">
           <form method="POST" action="">
           {% csrf_token%}
            <label><b>USERNAME</b></label>
            <input type="text" placeholder="Enter Username" name="username" required autocomplete="off">
            <label><b>PASSWORD</b></label>
            <input type="text" placeholder="Enter Password" name="password" required autocomplete="off">
            <button type="submit">Login</button>
            <div class="signup">
                <label>I don't have an account</label>
                <a href="{% url 'register' %}" class="m1-1">Signup</a>
            </div>
           </form>
          </div>
        </div>

    </div>

</body>
</html>


            <!--<select name="department">
              <option value="teamleader">teamleader</option>
              <option value="manager">manager</option>
              <option value="employer">employer</option>
            </select>-->