<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/mag.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <meta charset="UTF-8">
    <title>Manager</title>
</head>
<body>
{% if not user.is_manager %}
<img id="error" src="{% static 'images/404.png' %}" width="100%" height="100%" alt="">
<a id="back" href="javascript:history.go(-1)">GO-Back</a>
{% endif %}
{% if user.is_manager %}
<img src="{% static 'images/mag.png ' %}"width="100%" height="100%" alt="">
    <div class = 'menucon'>
        <h3>Hey,{{request.user}}</h3>
        <ul>
      <li>
          <a id="logout" href="{% url 'logout-page' %}">Log-out</a>
      </li>

    </ul>

    </div>
    <div class="received-container">
        <table class="table">
            <tr class="tablerow">

                <th>Name</th>
                <th>Designation</th>
                <th>Files</th>
                <th>Status</th>
            </tr>
            {% for i in mangfile %}
            <tr>
                <td class="tabledata">
                    {{i.Name}}
                </td>
                <td>
                    {{i.Designation}}
                </td>
                <td>
                    <a href="{{i.Files.url}}" download="{{i.Files.url}}">{{i.Files}}</a>
                </td>
                <td>
                {{i.Status}}
                </td>
                <td><a  href="/edit1/{{i.id}}">Edit</a>
            </td>
               <td><a href="/update1/{{i.id}}">Update</a>
            </td>
            </tr>

            {% endfor %}
        </table>
    </div>
<div class="Project-complete">
     <label>Total-Project-Complete</label>
        <h1>{{mancomplete}}</h1>

</div>

<div class="Progress-project">
     <label>Progress-Project</label>
        <h1>{{manprogress}}</h1>
</div>
<div class="Incomplete-project">
     <label>Incomplete-Project</label>
        <h1>{{manpending}}</h1>
</div>
<div class="Total-project">
     <label>Total-Project</label>
        <h1>{{total_projectsmag}}</h1>
</div>
{% endif %}
</body>
</html>